@charset "UTF-8";
/* HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]), [hidden] {
  display: none;
}

/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222222;
}

button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: white;
  text-shadow: none;
}

/* =============================================================================
 * Links
 * ========================================================================== */
a {
  color: #0000ee;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #0066ee;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
 * Typography
 * ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
figure {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal;
}

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 * 4. Consistent box sizing and appearance
 */
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
 * Tables
 * ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
 * Author:
 * ========================================================================== */
/* ==|== media queries ======================================================
 * PLACEHOLDER Media Queries for Responsive Design.
 * These override the primary ('mobile first') styles
 * Modify as content requires.
 * ========================================================================== */
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: "klinic_slabbook";
  src: url("../font/klinicslabbook-webfont.eot");
  src: url("../font/klinicslabbook-webfont.eot?#iefix") format("embedded-opentype"), url("../font/klinicslabbook-webfont.woff") format("woff"), url("../font/klinicslabbook-webfont.ttf") format("truetype"), url("../font/klinicslabbook-webfont.svg#klinic_slabbook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "liberatorregular";
  src: url("../font/liberator-webfont.eot");
  src: url("../font/liberator-webfont.eot?#iefix") format("embedded-opentype"), url("../font/liberator-webfont.woff") format("woff"), url("../font/liberator-webfont.ttf") format("truetype"), url("../font/liberator-webfont.svg#liberatorregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* @media print,
 * (-o-min-device-pixel-ratio: 5/4),
 * (-webkit-min-device-pixel-ratio: 1.25),
 * (min-resolution: 120dpi)
 *     Style adjustments for high resolution devices */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-family: "liberatorregular", Helvetica, Arial, sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.1rem;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0rem;
  line-height: 3.3rem;
}

html {
  width: 100%;
  height: 100%;
  background: white;
}

html,
button,
input,
select,
textarea {
  color: #222222;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "klinic_slabbook", Helvetica, Arial, sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  width: 99%;
  padding: 8px 10px;
}

.chromeframe {
  margin: 0.2em 0;
  background: #cccccc;
  color: black;
  padding: 0.2em 0;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 62.5%;
  font-family: "Raleway", "sans-serif";
  background: url(../../img/light_blue.jpg);
}
body .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;
}

/* Main App */
.app {
  height: 100%;
  width: 320px;
  margin: 0 auto;
  background: url(.././img/iphone.png) no-repeat;
  background-size: 95%;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.app h1 {
  padding: 10% 0 5% 0;
  font-size: 8rem;
}
.app .circle {
  border: 1px solid orange;
  width: 150px;
  height: 150px;
  margin: 20% auto 30%;
  border-radius: 50%;
  background: rgba(0, 0, 255, 0.6);
}
.app .circle a {
  text-decoration: none;
  color: white;
}
.app .circle:hover {
  background: white;
}
.app .circle:hover a {
  color: blue;
}
.app p.plan {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
  padding-top: 40px;
}
.app p.newEvent {
  font-size: 1.2rem;
  margin: 0;
}
.app .events {
  width: 228px;
  margin: 25px auto;
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
}
.app .events h1 {
  padding: 10px 0 0 0;
  font-size: 2rem;
}
.app .events a {
  text-decoration: none;
  color: black;
}
.app .events a:hover {
  color: white;
}
.app .events:hover {
  background: rgba(204, 0, 0, 0.6);
}

.app1 {
  height: 100%;
  width: 320px;
  margin: 0 auto;
  background: url(../img/iphone1.png) no-repeat;
  background-size: 95%;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.app1 .titlePlace {
  width: 228px;
  margin: 5% auto;
  padding: 2%;
}
.app1 .titlePlace h1 {
  padding: 14% 0 0 0;
  font-size: 3rem;
}
.app1 .titlePlace h1.title {
  padding-top: 50%;
}
.app1 .titlePlace a {
  text-decoration: none;
  color: orange;
}
.app1 .titlePlace a:hover {
  color: orange;
}
.app1 .plusImage {
  width: 50px;
  height: 50px;
  background: url(../images/+lines.png) no-repeat;
  display: block;
  margin: 0 auto;
}
.app1 .plusImage:hover {
  width: 100px;
  background-position: -50px 0px;
}
.app1 .goButton {
  border: 1px solid #eda933;
  display: inline-block;
  font-color: #f9fff6;
  font-size: 1.8rem;
  height: 55px;
  line-height: 55px;
  width: 145px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background: #fdf0cf;
  margin: 35px 0 0 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .header p,
  .marketing p,
  .footer p {
    margin: 0 0 20px 20px;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the app for visual effect */
  .app {
    border-bottom: 0;
  }
}
.contactContainer {
  max-width: 700px;
  height: auto;
  margin: 0 auto;
}

ul.contact-list {
  background: none;
  list-style: none;
  font-size: 2rem;
  line-height: 3rem;
  width: 350px;
  height: 400px;
  padding: 5%;
  margin: auto;
}
ul.contact-list h1 {
  text-align: center;
  padding-bottom: 2%;
  color: orange;
  margin: 0 0 7% 0;
}
ul.contact-list li {
  font-family: Raleway;
  border-bottom: 1px solid black;
}
ul.contact-list li a.contact-slide {
  color: #1b7d80;
  text-decoration: none;
}
ul.contact-list li i {
  text-align: center;
}

a.submit_btn {
  font-family: Raleway-Light;
  font-size: 1.8em;
  letter-spacing: 0.25em;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 30%;
  color: #0f8184;
  text-decoration: none;
  background-color: white;
  text-align: center;
  border-radius: 0 0 0 0;
  border-bottom: 5px #c8c8c8 solid;
  vertical-align: middle;
  margin: 2% auto;
}

.body_container {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.calender-title-container {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  display: block;
}

.cal-ajax-container {
  display: block;
}

.contactContainer {
  text-align: center;
}
.contactContainer h1.end {
  font-size: 2rem;
}
.contactContainer p {
  text-align: center;
}

/* @media print,
 * (-o-min-device-pixel-ratio: 5/4),
 * (-webkit-min-device-pixel-ratio: 1.25),
 * (min-resolution: 120dpi)
 *     Style adjustments for high resolution devices */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
